
html
{
    padding: 0em;
    margin: 0em;
}

body
{
    background-color: white;
    padding: 0em;
    margin: 0em;
    font-family: "Source Sans Pro","Trebuchet MS","Lucida Grande","Bitstream Vera Sans","Helvetica Neue",sans-serif;
    color: rgb(64, 64, 64);
}

body
{
    font-size: 1em;
}


/*
Plum      = rgb(184, 13, 72)
Orange    = rgb(242, 151, 36)
Dark Teal = rgb(43, 106, 108)
Dark Grey = rgb(64, 64, 64)
*/


h1
{
    padding: 0.2em;
    margin: 0em 0em 0.4em 0em;
    font-size: 150%;
    text-align: center;
    background-color: rgb(184, 12, 72);
    color: white;
}

h2
{
    font-size: 100%;
    margin: 0em 0em 0.4em 0em;
    font-weight: bold;
    font-color: black;
    text-align: center;
}

a
{
    color: rgb(184, 12, 72);
    text-decoration: inherit;
}

p
{
    margin-bottom: 2%;
    margin-top: 1%;
}

ul
{
    margin-top: 2%
}

li
{
    padding-left: 0.7%;
    margin-bottom: 2%;
}

code
{
    background-color: rgb(43, 106, 108);
    border-radius: 0.2em;
    color: rgb(255, 221,  76);
    display: block;
    white-space: pre;
    font-size: 60%;
    overflow: auto;
    padding: 0.7em;
}

.deemph
{
    color: rgb(170, 170, 170);
}

code em
{
    color: rgb(0, 0, 100);
    font-style: normal;
}

code i
{
    color: rgb(100, 0, 0);
    font-style: normal;
}

code.deemph em
{
    background-color: rgb(64, 64, 64);
    color: rgb(255, 221,  76);
    font-style: normal;
}

code.deemph i
{
    background-color: rgb(64, 64, 64);
    color: rgb(150, 255, 50);
    font-style: normal;
}

tt
{
    color: rgb(43, 106, 108);
}

div.slide
{
    border: 0em;
    margin: 0em;
    padding: 0em;
}

div.slide_body
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 0em;
}

div.slide.title h1
{
    margin-top: 15%;
    margin-bottom: 0em;
    margin-left: 3%;
    margin-right: 4%;
    font-size: 175%;
}

div.slide.title h2
{
    margin-top: 0em;
    font-size: 120%;
    text-align: center;
}


div.slide.title address
{
    margin-top: 7%;
    font-style: normal;
    text-align: center;
    font-size: 100%;
}

div.slide.title address a
{
    font-size: 60%;
}

div.cc
{
    top: 5%;
    right: 5%;
    position: absolute;
    font-size: 25%;
    text-align: right;
}

div.cc img
{
    float: right;
    max-width: 88px;
    max-height: 31px;
    border-width: 0px;
    width: 25%;
    margin-left: 0.75em;
    margin-top: 0.25em;
}

div.slide.contents a
{
    color: inherit;
    text-decoration: inherit;
}

div.image
{
    text-align: center;
    margin: 0.2em;
}

div.image img {
    width: 95%;
}

#moreinfo
{
    text-align: center;

}

#moreinfo a
{
    width: 20%;
    display: inline-block;
    font-size: 0.33em;
    text-align: center;
    margin-bottom: 3em;
}

#moreinfo a img
{
    width: 100%;
}
